<!--Contact-->
<div class="background" style="background-image: url(/assets/img/texture.jpg)">
    <div class="container section contact-section">
        <span class="anchor-trick" id="contact"></span>
        <div class="row">
            <div class="col-md-12">
                <p class="section__title" data-typing-effect="90%">Get in touch_</p>
            </div>
        </div>
        <div class="row contacts">
            <div class="col-md-5 col-lg-4">
                <div class="contacts__list">
                    <dl class="contact-list">
                        <dt>Email:</dt><dd>loi<i></i>cknuc<b></b>hel<span>@g</span>mai<span>l.c</span>om</dd>
                        <dt>Twitter:</dt><dd><a href="https://twitter.com/loicknuchel" target="_blank">@loicknuchel</a></dd>
                        <dt>LinkedIn:</dt><dd><a href="https://linkedin.com/in/loicknuchel" target="_blank">loicknuchel</a></dd>
                    </dl>
                </div>
                <div class="contacts__social">
                    <ul>
                        <li><a href="https://github.com/loicknuchel" target="_blank">GitHub</a></li>
                        <li><a href="https://gospeak.io/speakers/loicknuchel" target="_blank">Gospeak</a></li>
                        <li><a href="https://slideshare.net/loicknuchel" target="_blank">SlideShare</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 col-lg-5">
                <div class="contacts__form">
                    <p class="contacts__form-title">Or just write me a letter here_</p>
                    <form class="contact-form" method="POST" action="https://formspree.io/xpzlojjz">
                        <div class="form-group">
                            <label class="sr-only" for="contact-email">Your e-mail</label>
                            <input class="form-field js-field-email" type="email" id="contact-email" name="_replyto" placeholder="Your e-mail" required>
                            <span class="form-validation"></span>
                            <span class="form-invalid-icon"><i class="mdi mdi-close" aria-hidden="true"></i></span>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="contact-message">Your message</label>
                            <textarea class="form-field js-field-message" id="contact-message" name="message" placeholder="Type your message here" required></textarea>
                            <span class="form-validation"></span>
                            <span class="form-invalid-icon"><i class="mdi mdi-close" aria-hidden="true"></i></span>
                        </div>
                        <button class="site-btn site-btn--form" type="submit">Send</button>
                    </form>
                </div>
                <div class="footer">
                    <p>© 2020 Loïc Knuchel. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Contact-->
