<a href="https://twitter.com/intent/tweet?text={{include.text}}&url={{include.url | absolute_url}}&via={{include.twitter | default: site.twitter}}&related={{site.twitter}}"
   title="Share on Twitter" data-toggle="tooltip"><i class="fab fa-twitter"></i></a>
<a href="https://www.linkedin.com/shareArticle?url={{include.url | absolute_url}}&title={{include.text}}&summary={{include.summary | strip_html | strip_newlines | strip}}&source={{site.title}}"
   onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
   title="Share on LinkedIn" data-toggle="tooltip"><i class="fab fa-linkedin"></i></a>
<a href="https://www.facebook.com/sharer/sharer.php?u={{include.url | absolute_url}}"
   onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
   title="Share on Facebook" data-toggle="tooltip"><i class="fab fa-facebook-square"></i></a>
