/* unstyle github emoji */
img.emoji {
  display: inline !important;
}

/* from https://unicode.org/emoji/charts/full-emoji-list.html */
.emoji {
  font-style: inherit;

  &.grinning-face:before, &.happy:before { content: '\01F600'; }
  &.grinning-face-with-big-eyes:before { content: '\01F603'; }
  &.grinning-face-with-smiling-eyes:before { content: '\01F604'; }
  &.beaming-face-with-smiling-eyes:before { content: '\01F601'; }
  &.grinning-squinting-face:before { content: '\01F606'; }
  &.grinning-face-with-sweat:before { content: '\01F605'; }
  &.rolling-on-the-floor-laughing:before, &.laugh:before { content: '\01F923'; }
  &.face-with-tears-of-joy:before { content: '\01F602'; }
  &.slightly-smiling-face:before, &.smile:before { content: '\01F642'; }
  &.upside-down-face:before { content: '\01f643'; }
  &.winking-face:before, &.wink:before { content: '\01F609'; }
  &.smiling-face-with-smiling-eyes:before { content: '\01F60A'; }
  &.smiling-face-with-halo:before { content: '\01f607'; }
  &.smiling-face-with-hearts:before { content: '\01f970'; }
  &.smiling-face-with-heart-eyes:before { content: '\01f60d'; }
  &.star-struck:before { content: '\01f929'; }
  &.face-blowing-a-kiss:before { content: '\01f618'; }
  &.kissing-face:before { content: '\01f617'; }
  &.smiling-face:before { content: '\0263a'; }
  &.kissing-face-with-closed-eyes:before { content: '\01f61a'; }
  &.kissing-face-with-smiling-eyes:before { content: '\01f619'; }
  &.face-savoring-food:before { content: '\01f60b'; }
  &.face-with-tongue:before { content: '\01f61b'; }
  &.winking-face-with-tongue:before { content: '\01f61c'; }
  &.zany-face:before { content: '\01f92a'; }
  &.squinting-face-with-tongue:before { content: '\01f61d'; }
  &.money-mouth-face:before { content: '\01f911'; }
  &.hugging-face:before { content: '\01f917'; }
  &.face-with-hand-over-mouth:before { content: '\01f92d'; }
  &.shushing-face:before { content: '\01f92b'; }
  &.thinking-face:before { content: '\01f914'; }
  &.zipper-mouth-face:before { content: '\01f910'; }
  &.face-with-raised-eyebrow:before { content: '\01f928'; }
  &.neutral-face:before { content: '\01f610'; }
  &.expressionless-face:before { content: '\01f611'; }
  &.face-without-mouth:before { content: '\01f636'; }
  &.smirking-face:before { content: '\01f60f'; }
  &.unamused-face:before { content: '\01f612'; }
  &.face-with-rolling-eyes:before { content: '\01f644'; }
  &.grimacing-face:before { content: '\01f62c'; }
  &.lying-face:before { content: '\01f925'; }

  /* all until there (42) then only interesting ones... */

  &.sleeping-face:before { content: '\01f634'; }
  &.face-with-medical-mask:before { content: '\01f637'; }
  &.nauseated-face:before { content: '\01f922'; }
  &.face-vomiting:before { content: '\01f92e'; }
  &.partying-face:before { content: '\01f973'; }
  &.smiling-face-with-sunglasses:before { content: '\01f60e'; }
  &.nerd-face:before, &.geek:before { content: '\01f913'; }
  &.slightly-frowning-face:before, &.sad:before { content: '\01F641'; }
  &.face-with-open-mouth:before { content: '\01f62e'; }
  &.sad-but-relieved-face:before { content: '\01f625'; }
  &.crying-face:before { content: '\01f622'; }
  &.loudly-crying-face:before { content: '\01f62d'; }
  &.face-screaming-in-fear:before { content: '\01f631'; }
  &.face-with-steam-from-nose:before { content: '\01f624'; }
  &.pouting-face:before { content: '\01f621'; }
  &.angry-face:before { content: '\01f620'; }
  &.face-with-symbols-on-mouth:before { content: '\01f92c'; }
  &.smiling-face-with-horns:before { content: '\01f608'; }
  &.skull:before { content: '\01f480'; }
  &.pile-of-poo:before { content: '\01f4a9'; }
  &.ghost:before { content: '\01f47b'; }
  &.see-no-evil-monkey:before { content: '\01f648'; }
  &.hear-no-evil-monkey:before { content: '\01f649'; }
  &.speak-no-evil-monkey:before { content: '\01f64a'; }
  &.two-hearts:before { content: '\01f495'; }
  &.red-heart:before { content: '\02764'; }
  &.yellow-heart:before { content: '\01f49b'; }
  &.purple-heart:before { content: '\01f49c'; }
  &.black-heart:before { content: '\01f5a4'; }
  &.white-heart:before { content: '\01f90d'; }
  &.hundred-points:before, &.hundred:before { content: '\01f4af'; }
  &.collision:before { content: '\01f4a5'; }
  &.bomb:before { content: '\01f4a3'; }
  &.speech-balloon:before, &.speak:before { content: '\01f4ac'; }
  &.left-speech-bubble:before { content: '\01f5e8'; }
  &.right-anger-bubble:before { content: '\01f5ef'; }
  &.thought-balloon:before { content: '\01f4ad'; }
  &.zzz:before { content: '\01f4a4'; }
  &.ok-hand:before { content: '\01f44c'; }
  &.victory-hand:before { content: '\0270c'; }
  &.crossed-fingers:before { content: '\01f91e'; }
  &.sign-of-the-horns:before { content: '\01f918'; }
  &.thumbs-up:before { content: '\01f44d'; }
  &.thumbs-down:before { content: '\01f44e'; }
  &.raised-fist:before { content: '\0270a'; }
  &.handshake:before { content: '\01f91d'; }
  &.folded-hands:before { content: '\01f64f'; }
  &.flexed-biceps:before { content: '\01f4aa'; }
  &.man-raising-hand:before { content: '\01f64b\0200d\02642\0fe0f'; }
  &.woman-raising-hand:before { content: '\01f64b\0200d\02640\0fe0f'; }
  &.man-facepalming:before { content: '\01f926\0200d\02642\0fe0f'; }
  &.woman-facepalming:before { content: '\01f926\0200d\02640\0fe0f'; }
  &.man-student:before { content: '\01f468\0200d\01f393'; }
  &.woman-student:before { content: '\01f469\0200d\01f393'; }
  &.man-teacher:before { content: '\01f468\0200d\01f3eb'; }
  &.woman-teacher:before { content: '\01f469\0200d\01f3eb'; }
  &.man-office-worker:before { content: '\01f468\0200d\01f4bc'; }
  &.woman-office-worker:before { content: '\01f469\0200d\01f4bc'; }
  &.man-scientist:before { content: '\01f468\0200d\01f52c'; }
  &.woman-scientist:before { content: '\01f469\0200d\01f52c'; }
  &.man-technologist:before, &.tech:before { content: '\01f468\0200d\01f4bb'; }
  &.woman-technologist:before { content: '\01f469\0200d\01f4bb'; }
  &.man-singer:before, &.speaking:before { content: '\01f468\0200d\01f3a4'; }
  &.woman-singer:before { content: '\01f469\0200d\01f3a4'; }
  &.police-officer:before { content: '\01f46e'; }
  &.man-police-officer:before { content: '\01f46e\0200d\02642\0fe0f'; }
  &.woman-police-officer:before { content: '\01f46e\0200d\02640\0fe0f'; }
  &.man-superhero:before { content: '\01f9b8\0200d\02642\0fe0f'; }
  &.woman-superhero:before { content: '\01f9b8\0200d\02640\0fe0f'; }
  &.man-supervillain:before { content: '\01f9b9\0200d\02642\0fe0f'; }
  &.woman-supervillain:before { content: '\01f9b9\0200d\02640\0fe0f'; }
  &.family-man-woman-girl-boy:before, &.group:before { content: '\01f468\0200d\01f469\0200d\01f467\0200d\01f466'; }
  &.speaking-head:before { content: '\01f5e3'; }
  &.bug:before { content: '\01F41B'; }
  &.lady-beetle:before, &.bug-alt:before { content: '\01f41e'; }
  &.spider-web:before { content: '\01f578'; }
  &.microbe:before { content: '\01f9a0'; }
  &.seedling:before { content: '\01f331'; }
  &.palm-tree:before { content: '\01f334'; }
  &.cactus:before { content: '\01f335'; }
  &.four-leaf-clover:before { content: '\01f340'; }
  &.pizza:before { content: '\01f355'; }
  &.popcorn:before { content: '\01f37f'; }
  &.cookie:before { content: '\01f36a'; }
  &.pie:before { content: '\01f967'; }
  &.hot-beverage:before, &.coffee:before { content: '\02615'; }
  &.bottle-with-popping-cork:before { content: '\01f37e'; }
  &.wine-glass:before { content: '\01f377'; }
  &.cocktail-glass:before { content: '\01f378'; }
  &.tropical-drink:before { content: '\01f379'; }
  &.beer-mug:before { content: '\01f37a'; }
  &.clinking-beer-mugs:before { content: '\01f37b'; }
  &.railway-track:before { content: '\01f6e4'; }
  &.police-car-light:before { content: '\01f6a8'; }
  &.rocket:before, &.startup:before { content: '\01f680'; }
  &.luggage:before { content: '\01f9f3'; }
  &.hourglass-done:before { content: '\0231B'; }
  &.hourglass-not-done:before { content: '\023F3'; }
  &.new-moon:before { content: '\01f311'; }
  &.waxing-crescent-moon:before { content: '\01f312'; }
  &.first-quarter-moon:before { content: '\01f313'; }
  &.last-quarter-moon:before { content: '\01f317'; }
  &.star:before { content: '\02b50'; }
  &.glowing-star:before { content: '\01f31f'; }
  &.high-voltage:before { content: '\026a1'; }
  &.fire:before { content: '\01f525'; }
  &.sparkles:before { content: '\02728'; }
  &.party-popper:before { content: '\01F389'; }
  &.wrapped-gift:before { content: '\01f381'; }
  &.admission-tickets:before { content: '\01f39f'; }
  &.ticket:before { content: '\01f3ab'; }
  &.military-medal:before { content: '\01f396'; }
  &.trophy:before { content: '\01f3c6'; }
  &.sports-medal:before { content: '\01f3c5'; }
  &.first-place-medal:before { content: '\01f947'; }
  &.second-place-medal:before { content: '\01f948'; }
  &.third-place-medal:before { content: '\01f949'; }
  &.direct-hit:before, &.management:before { content: '\01f3af'; }
  &.crystal-ball:before { content: '\01F52E'; }
  &.magic-wand:before { content: '\01fa84'; }
  &.video-game:before { content: '\01F3AE'; }
  &.joystick:before { content: '\01F579'; }
  &.slot-machine:before { content: '\01f3b0'; }
  &.game-die:before, &.random:before { content: '\01f3b2'; }
  &.puzzle-piece:before { content: '\01f9e9'; }
  &.heart-suit:before { content: '\02665'; }
  &.performing-arts:before, &.happy-sad:before { content: '\01f3ad'; }
  &.artist-palette:before { content: '\01f3a8'; }
  &.glasses:before { content: '\01f453'; }
  &.sunglasses:before { content: '\01f576'; }
  &.crown:before { content: '\01f451'; }
  &.top-hat:before { content: '\01f3a9'; }
  &.graduation-cap:before { content: '\01f393'; }
  &.billed-cap:before { content: '\01f9e2'; }
  &.gem-stone:before { content: '\01f48e'; }
  &.loudspeaker:before, &.announcement:before { content: '\01f4e2'; }
  &.megaphone:before { content: '\01f4e3'; }
  &.bell:before { content: '\01f514'; }
  &.studio-microphone:before { content: '\01f399'; }
  &.microphone:before, &.talk:before { content: '\01f3a4'; }
  &.headphone:before { content: '\01f3a7'; }
  &.mobile-phone:before, &.mobile:before { content: '\01f4f1'; }
  &.laptop:before, &.code:before { content: '\01f4bb'; }
  &.desktop-computer:before { content: '\01f5a5'; }
  &.keyboard:before { content: '\02328'; }
  &.floppy-disk:before { content: '\01f4be'; }
  &.magnifying-glass-tilted-left:before { content: '\01f50d'; }
  &.light-bulb:before, &.idea:before { content: '\01f4a1'; }
  &.closed-book:before { content: '\01F4D5'; }
  &.open-book:before { content: '\01F4D6'; }
  &.green-book:before { content: '\01F4D7'; }
  &.blue-book:before { content: '\01f4d8'; }
  &.orange-book:before { content: '\01F4D9'; }
  &.books:before { content: '\01F4DA'; }
  &.page-with-curl:before, &.article:before { content: '\01f4c3'; }
  &.bookmark:before { content: '\01f516'; }
  &.label:before { content: '\01f3f7'; }
  &.money-bag:before { content: '\01f4b0'; }
  &.dollar-banknote:before { content: '\01f4b5'; }
  &.euro-banknote:before { content: '\01f4b6'; }
  &.receipt:before { content: '\01F9FE'; }
  &.envelope:before { content: '\02709'; }
  &.memo:before, &.draft:before { content: '\01F4DD'; }
  &.calendar:before, &.event:before { content: '\01f4c5'; }
  &.tear-off-calendar:before { content: '\01f4c6'; }
  &.spiral-calendar:before { content: '\01f5d3'; }
  &.chart-increasing:before { content: '\01F4C8'; }
  &.chart-decreasing:before { content: '\01F4C9'; }
  &.bar-chart:before { content: '\01F4CA'; }
  &.pushpin:before { content: '\01f4cc'; }
  &.round-pushpin:before { content: '\01f4cd'; }
  &.paperclip:before { content: '\01f4ce'; }
  &.locked:before { content: '\01f512'; }
  &.unlocked:before { content: '\01f513'; }
  &.key:before { content: '\01f511'; }
  &.hammer:before { content: '\01f528'; }
  &.axe:before { content: '\01fa93'; }
  &.pick:before { content: '\026cf'; }
  &.hammer-and-pick:before { content: '\02692'; }
  &.hammer-and-wrench:before { content: '\01f6e0'; }
  &.dagger:before, &.fight:before { content: '\01F5E1'; }
  &.crossed-swords:before { content: '\02694'; }
  &.shield:before { content: '\01f6e1'; }
  &.balance-scale:before { content: '\02696'; }
  &.link:before { content: '\01f517'; }
  &.test-tube:before, &.experiment:before { content: '\01f9ea'; }
  &.dna:before { content: '\01f9ec'; }
  &.microscope:before { content: '\01f52c'; }
  &.telescope:before { content: '\01f52d'; }
  &.roll-of-paper:before { content: '\01f9fb'; }
  &.warning:before { content: '\026a0'; }
  &.double-exclamation-mark:before { content: '\0203c'; }
  &.check-mark:before { content: '\02714'; }
  &.cross-mark:before { content: '\0274c'; }
  &.part-alternation-mark:before { content: '\0303d'; }
  &.purple-circle:before { content: '\01f7e3'; }
  &.purple-square:before { content: '\01f7ea'; }
  &.pirate-flag:before { content: '\01f3f4\0200d\02620\0fe0f'; }

  &.article {
    margin: 0;
    padding: 0;
    background: none;
  }
}
