@import "variables";

.post {
  position: relative;
  word-wrap: break-word;

  .post-list & {
    padding: 40px 0;
    border-bottom: #EBF2F6 1px solid;

    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 14px;
      height: 14px;
      left: 50%;
      bottom: -7px;
      margin-left: -7px;
      background: #FFF;
      border-radius: 100%;
      border: #E7EEF2 1px solid;
      box-shadow: #FFF 0 0 0 5px;
    }

    .post-meta {
      margin-bottom: 0;
    }

    &:last-child {
      border-bottom: none;

      &::after {
        border: none;
      }
    }
  }

  .social-share.top-header {
    position: absolute;
    top: 6px;
    right: 9px;

    a, a:hover, a:focus {
      color: white;
      opacity: .6;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    }
  }

  .post-title {
    margin-bottom: $default-spacing;
    color: #4A4A4A;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.15em;
    letter-spacing: -1px;
    text-rendering: geometricPrecision;
    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;

    a {
      color: #4A4A4A;

      &:hover {
        color: #111;
      }
    }
  }

  .post-excerpt {
    margin: 0;
    margin-bottom: $default-spacing;
    font-family: "Merriweather", serif;
    font-size: 18px;
    line-height: 1.7em;
    color: #3A4145;
  }

  .post-meta {
    display: block;
    margin-bottom: $default-spacing;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #9EABB3;

    a {
      color: #9EABB3;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .post-author img {
      width: 24px;
      height: 24px;
      float: left;
      margin-right: 9px;
      border-radius: 100%;
    }

    .tag:after {
      content: ', ';
    }

    .tag:last-child:after {
      content: '';
    }

    .post-date {
      display: inline-block;
      margin-left: 8px;
      padding-left: 12px;
      border-left: #d5dbde 1px solid;
      text-transform: uppercase;
      font-size: 13px;
      white-space: nowrap;
    }
  }

  .post-content {
    margin-bottom: $default-spacing;

    p, h1, h2, h3, h4, h5, h6 {
      clear: both;
      position: relative;
      z-index: 2;
    }

    /* to allow good anchor scroll */
    h1, h2, h3, h4, h5, h6 {
      position: relative;
      z-index: 1;
      margin-top: -80px;
      padding-top: 80px;

      a[href^="#"] {
        visibility: hidden;
        position: absolute;
        left: -30px;
        top: 85px;
        color: #ddd;
        font-size: 75%;
        text-decoration: none;
      }

      &:hover a[href^="#"] {
        visibility: visible;
      }
    }

    img {
      display: block;
      margin: auto;
      max-width: 100%;
      max-height: 500px;

      &.pull-right {
        float: right;
        max-width: 50%;
        margin-left: $default-spacing;
        margin-bottom: $default-spacing;
      }

      &.pull-left {
        float: left;
        max-width: 50%;
        margin-right: $default-spacing;
        margin-bottom: $default-spacing;
      }

      &.w-100 {
        width: 100px;
      }

      &.w-200 {
        width: 200px;
      }

      &.w-300 {
        width: 300px;
      }

      &.w-400 {
        width: 400px;
      }

      &.w-500 {
        width: 500px;
      }

      &.w-600 {
        width: 600px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .post .post-title a {
    font-size: 30px;
  }
}

.post-categories {
  .section-cloud, .category-section {
    margin-bottom: 500px;
  }

  .category-section {
    padding-top: 100px;
  }
}
