.sheet {
  min-height: 500px;
  background-color: #fff;
  padding-bottom: 50px;
  margin-top: -270px;
  margin-bottom: 40px;
  box-shadow: 0 1px 21px rgba(0, 0, 0, .14);

  .sheet__header {
    display: table;
    width: 100%;
    height: 100vh;
    max-height: 40vh;
    min-height: 160px;
    background: #f5f8fa;
    text-align: center;

    .page-title {
      margin: 10px 0 10px 0;
      font-family: "Open Sans", sans-serif;
      font-size: 50px;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 700;
      letter-spacing: -1px;
      -webkit-animation: fade-in-down 0.6s;
      animation: fade-in-down 0.6s both;
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }

    .page-description {
      margin: 0;
      font-family: "Merriweather", serif;
      font-size: 20px;
      line-height: 1.5em;
      color: rgba(0, 0, 0, 0.5);
      font-weight: 400;
      letter-spacing: 0.1px;
      -webkit-animation: fade-in-down 0.9s;
      animation: fade-in-down 0.9s both;
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s;
    }
  }

  .sheet__content {
    margin: 0 70px;
    padding-top: 40px;

    & > h1:first-child { // same as ".post .post-title"
      margin-top: 0;
      margin-bottom: $default-spacing;
      color: #4A4A4A;
      text-decoration: none;
      font-family: "Open Sans", sans-serif;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.15em;
      letter-spacing: -1px;
      text-rendering: geometricPrecision;
      -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
      -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
      -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    }

    .post-content img.full-width {
      margin-left: -70px;
      margin-right: -70px;
    }
  }
}

@media screen and (max-width: 768px) {
  .sheet {
    .sheet__header .page-title {
      font-size: 40px;
    }

    .sheet__content {
      margin: 40px 30px 0 30px;
    }
  }
}

@media screen and (max-width: 576px) {
  .sheet {
    .sheet__content {
      margin: 40px 10px 0 10px;
    }
  }
}
