@charset "utf-8";

@import "syntax-highlighting";
@import "emoji";

$default-spacing: 20px;

button {
  cursor: pointer;
}

/* trick to make anchor scroll works with fixed header */
.anchor-trick {
  display: block;
  position: relative;
  top: -100px; /* 70px for header + 30px for padding */
  visibility: hidden;
}

.gray-on-hover:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .8s;
  transition: .8s;
}

.tags li a {
  color: inherit;
}

.twitter-tweet {
  margin-bottom: $default-spacing !important;
}

.slideshare-embed {
  margin-bottom: $default-spacing;

  .iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 60.2%; /* aspect ratio to keep (height / width), this one is nice for 16:9 as a toolbar increase height */

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}

/* un-rendered tweet: twitter widgets will insert <twitter-widget> instead of <blockquote> */
blockquote.twitter-tweet {
  position: relative;
  max-width: 500px;
  padding: $default-spacing;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  font: normal normal 16px/1.2 Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
  color: #1c2022;

  a {
    position: absolute;
    top: 20px;
    right: 21px;
    font-size: 18px;
    color: #1da1f2;
  }

  img {
    float: left;
    height: 36px;
    margin-right: 9px;
    border-radius: 50%;
  }

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
  }

  .screenName {
    font-size: 14px;
    color: #697882;
  }

  p {
    margin: 11px 0 0 0;
    line-height: 1.4;
  }
}

/* index.html specifics */

.menu, .mobile-menu {
  a.no-underscore:hover:after {
    content: none;
  }

  a.hero {
    border: 2px solid #fff;
    padding: 10px 15px;
  }
}

.hire-me__container {
  background: #f8f9fc;
}

.resume-list__block-title {
  margin-bottom: 0;
}

.resume-list__block-logo {
  float: right;

  img {
    height: 50px;
    border-radius: 5px;
  }
}

.techno {
  margin: $default-spacing;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(134, 72, 219, .2);
  -webkit-box-shadow: 0 0 3px rgba(134, 72, 219, .2);

  img {
    width: 50px;
  }
}

.post-cards_description {
  height: 60px;
  overflow: hidden;
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;

  p {
    margin-bottom: 0;
  }
}

/* post specifics */

.article {
  .article__title {
    font-size: 1em;
  }

  p {
    clear: both;
  }

  img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 500px;

    &.full-width {
      width: 100%;
    }

    &.pull-right {
      float: right;
      margin-left: $default-spacing;
      margin-bottom: $default-spacing;
    }

    &.pull-left {
      float: left;
      margin-right: $default-spacing;
      margin-bottom: $default-spacing;
    }
  }

  strong {
    color: #333;
  }

  ol, ul {
    list-style: inside;
    margin-bottom: $default-spacing;

    ol, ul {
      margin-bottom: 0;
      padding-left: $default-spacing;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    margin-bottom: $default-spacing;
    border-spacing: 0;
    border-collapse: collapse;

    tr {
      background-color: #fff;
      border-top: 1px solid #c6cbd1;
    }

    tr:nth-child(2n) {
      background-color: #f6f8fa;
    }

    th, td {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }

    th {
      font-weight: 600;
    }
  }

  blockquote:not(.twitter-tweet) {
    padding: 0 1em;
    border-left: .25em solid #dfe2e5;
    color: #6a737d;

    p {
      margin-bottom: 0;
    }

    blockquote {
      display: block;
      padding: 0;
      border: none;
      font-size: 80%;
      color: #868e96;

      &:before {
        content: "\2014 \00A0"
      }

      p {
        display: inline;
      }
    }
  }

  .carousel {
    margin-bottom: $default-spacing;

    .carousel-control-prev {
      background: rgba(0, 0, 0, 0.1);
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 0.7)), color-stop(100%, rgba(0, 0, 0, 0)));
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
      background: -o-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
      background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=1);
    }

    .carousel-control-next {
      background: rgba(0, 0, 0, 0.1);
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
      background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
      background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=1);
    }
  }
}
