@charset "utf-8";

@import "syntax-highlighting";

button {
  cursor: pointer;
}

.gray-on-hover:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .8s;
  transition: .8s;
}

/* index.html specifics */

.menu, .mobile-menu {
  a.no-underscore:hover:after {
    content: none;
  }

  a.hero {
    border: 2px solid #fff;
    padding: 10px 15px;
  }
}

.hire-me__container {
  background: #f8f9fc;
}

.resume-list__block-title {
  margin-bottom: 0;
}

.resume-list__block-logo {
  float: right;
  /* float: left;
  margin-left: -100px;
  margin-top: -20px; */

  img {
    height: 50px;
    border-radius: 5px;
  }
}

.techno {
  margin: 20px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(134, 72, 219, .2);
  -webkit-box-shadow: 0 0 3px rgba(134, 72, 219, .2);

  img {
    width: 50px;
  }
}

.post-cards_description {
  height: 60px;
  overflow: hidden;
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;

  p {
    margin-bottom: 0;
  }
}
