button {
    cursor: pointer;
}

.resume-list__block-title {
    margin-bottom: 0;
}

.resume-list__block-logo {
    float: right;
    /* float: left;
    margin-left: -100px;
    margin-top: -20px; */
}

.resume-list__block-logo img {
    height: 50px;
    border-radius: 5px;
}

.post-cards_description {
    height: 60px;
    overflow: hidden;
    display: -webkit-box;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
}

.post-cards_description p {
    margin-bottom: 0;
}
