---
layout:  page
title:   Categories
---
<div class="sheet__header">
    <div class="vertical">
        <h1 class="page-title">{{page.title}}</h1>
    </div>
</div>
<div class="sheet__content post-categories">
    {% assign sorted_categories = site.categories | sort %}
    <div class="section-cloud">
        {% for category in sorted_categories %}
        <a href="#{{category[0] | slugify}}" instant-scroll style="font-size: {{category[1].size | times: 5 | plus: 15}}px; line-height: {{category[1].size | times: 5 | plus: 15}}px;">{{category[0]}}</a>
        {% endfor %}
    </div>

    {% for category in sorted_categories %}
        <div id="{{category[0] | slugify}}" class="category-section">
            <h2 class="tag-title"><i class="emoji shield"></i> {{category[0]}} ({{category[1].size}})</h2>
            <div class="post-list">
                {% for post in category[1] %}
                {% assign author = site.data.people[post.author] | default: site.data.people.loic %}
                <article class="post">
                    <h2 class="post-title"><a href="{{post.url}}"><i class="emoji {{post.icon | default: 'article'}}"></i> {{post.title}}</a></h2>
                    <section class="post-excerpt"><p>{{post.excerpt | strip_html | truncatewords: 30}} »</p></section>
                    <footer class="post-meta">
                        {% if author.link %}
                        <a href="{{author.link}}" class="post-author"><img src="{{author.avatar}}" alt="{{author.name}} avatar"> {{author.name}}</a> on
                        {% else %}
                        <span class="post-author"><img src="{{author.avatar}}" alt="{{author.name}} avatar"> {{author.name}}</span> on
                        {% endif %}
                        <span class="tags">
                            {%- for tag in post.tags -%}
                            <a href="/blog/tags#{{tag | slugify}}" instant-scroll class="tag">{{tag}}</a>
                            {%- endfor -%}
                        </span>
                        <time class="post-date">{{post.date | date: "%B %-d, %Y"}}</time>
                    </footer>
                </article>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
