---
layout: default
type:   article
menus:
    - {name: Home, link: "/"}
    - {name: Blog, link: "/blog"}
    - {name: Related posts, link: "#posts"}
    - {name: Contact, link: "#contact"}
---
{%- assign author = site.data.people[page.author] | default: site.data.people.loic -%}
{% include menu.html menus = layout.menus %}

<!--Header-->
<header class="background blog-header" style="background-image: url(/assets/img/texture.jpg)"></header>
<!--Header-->

<!--Post-->
<div class="container">
    <div class="sheet">
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <img class="full-width" src="{{page.banner_21_9 | default: '/assets/img/default/blog_banner_21_9.jpg'}}" alt="{{page.title}} banner" itemprop="image">
            <div class="social-share top-header">{% include social-share-buttons.html url=page.url text=page.title summary=page.excerpt twitter=author.twitter %}</div>
            <div class="sheet__content">
                <h1 class="post-title" itemprop="name headline">{{page.title}}</h1>
                <div class="post-meta">
                    <span class="post-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <img src="{{author.avatar}}" alt="{{author.name}} avatar"> <span itemprop="name">{{author.name}}</span>
                    </span> on
                    <span class="tags">
                        {%- for tag in page.tags -%}
                        <a href="/blog/tags#{{tag | slugify}}" class="tag">{{tag}}</a>
                        {%- endfor -%}
                    </span>
                    <time class="post-date" itemprop="datePublished dateModified" datetime="{{post.date | date_to_xmlschema}}">{{page.date | date: "%B %-d, %Y"}}</time>
                </div>
                <section class="post-content" itemprop="articleBody">
                    {{content}}
                </section>
                <p class="social-share">
                    Share this post:
                    {% include social-share-buttons.html url=page.url text=page.title summary=page.excerpt twitter=author.twitter %}
                </p>
                <div id="disqus_thread"></div>
                <script>
                    var disqus_config = function () {
                        this.page.url = '{{page.url | absolute_url}}';
                        this.page.identifier = '{{page.id}}';
                    };
                    (function() {
                        var d = document, s = d.createElement('script');
                        s.src = 'https://loicknuchel.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
        </article>
    </div>
</div>
<!--Post-->

<!--Related Posts-->
<section class="container section">
    <span class="anchor-trick" id="posts"></span>
    <div class="row">
        <div class="col-md-12">
            <h2 class="section__title" data-typing-effect="90%">Related Posts_</h2>
        </div>
    </div>
    <div class="row posts">
        {% if page.related %}
            {% for rel in page.related %}
                {% for post in site.posts %}
                    {% if post.slug == rel %}
                        <div class="col-md-5 mr-auto">
                            <div class="posts__item">
                                <a href="{{post.url}}">
                                    <h3 class="posts__title">{{post.title}}</h3>
                                    <p class="posts__description">{{post.excerpt | strip_html | truncatewords: 30}}</p>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% else %}
            {% for post in site.related_posts %}
                <div class="col-md-5 mr-auto">
                    <div class="posts__item">
                        <a href="{{post.url}}">
                            <h3 class="posts__title">{{post.title}}</h3>
                            <p class="posts__description">{{post.excerpt | strip_html | truncatewords: 30}}</p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</section>
<!--Related Posts-->

{% include contact-section.html %}
