---
layout: default
type:   article
menus:
    - {name: Home, link: "/"}
    - {name: Blog, link: "/blog"}
    - {name: Related posts, link: "#posts"}
    - {name: Contact, link: "#contact"}
---
{%- assign author = site.data.people[page.author] | default: site.data.people.loic -%}
{% include menu.html menus = layout.menus %}

<!--Header-->
<header class="background blog-header" style="background-image: url(/assets/img/texture.jpg)"></header>
<!--Header-->

<!--Article-->
<div class="container">
    <div class="sheet">
    <div class="article">
        <div class="d-flex justify-content-between align-items-center">
            <a href="/" class="article__back-link js-back"><i class="fas fa-arrow-left" aria-hidden="true"></i>Back</a>
            <p class="article__share mb-0">
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-linkedin"></i></a>
                <a><i class="fab fa-facebook-square"></i></a>
            </p>
        </div>
        <article itemscope itemtype="http://schema.org/BlogPosting">
            <header>
                <h1 class="article__title" itemprop="name headline">{{page.title}}</h1>
                <p class="article_date" datetime="{{page.date | date_to_xmlschema}}" itemprop="datePublished">{{page.date | date: "%B %-d, %Y"}}</p>
                {% if author %}
                <p itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{author.name}}</span></p>
                {% endif %}
                {% if page.banner_21_9 %}
                <p><img class="full-width" src="{{page.banner_21_9}}" alt="{{page.title}} banner"></p>
                {% endif %}
            </header>
            <div itemprop="articleBody">
                {{content}}
            </div>
            <a class="u-url" href="{{page.url | relative_url}}" hidden></a>
        </article>
        <div>
            Tags:
            <ul class="tags" style="display: inline-block; margin-bottom: 20px">
                {% for tag in page.tags %}
                <li><a href="/blog/tags#{{tag | slugify}}">{{tag}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <p class="article__share">
            Share this post:
            <a><i class="fab fa-twitter"></i></a>
            <a><i class="fab fa-linkedin"></i></a>
            <a><i class="fab fa-facebook-square"></i></a>
        </p>
    </div>
    </div>
</div>
<!--Article-->

<!--Related Posts-->
<section class="container section">
    <span class="anchor-trick" id="posts"></span>
    <div class="row">
        <div class="col-md-12">
            <h2 class="section__title" data-typing-effect="90%">Related Posts_</h2>
        </div>
    </div>
    <div class="row posts">
        {% if page.related %}
            {% for rel in page.related %}
                {% for post in site.posts %}
                    {% if post.slug == rel %}
                        <div class="col-md-5 mr-auto">
                            <div class="posts__item">
                                <a href="{{post.url}}">
                                    <h3 class="posts__title">{{post.title}}</h3>
                                    <p class="posts__description">{{post.excerpt | strip_html | truncatewords: 30}}</p>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% else %}
            {% for post in site.related_posts %}
                <div class="col-md-5 mr-auto">
                    <div class="posts__item">
                        <a href="{{post.url}}">
                            <h3 class="posts__title">{{post.title}}</h3>
                            <p class="posts__description">{{post.excerpt | strip_html | truncatewords: 30}}</p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</section>
<!--Related Posts-->

{% include contact-section.html %}
